<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.light">

    <application>
        <activity
            android:name=".LightDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>
</manifest>